@-webkit-keyframes rotate {
  33% {
    transform: rotate(32deg);
  }
  66% {
    transform: rotate(-32deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate {
  33% {
    transform: rotate(32deg);
  }
  66% {
    transform: rotate(-32deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header-nav__link, h1, h2, h3 {
  font-weight: 500;
}

.footer-about span, .footer-contact span {
  font-weight: 600;
}

.modal__wrapper > h2, .pagination__box-number:hover, .active, .search-list__item, .search-list__error {
  font-weight: 700;
}

.search {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: 25px;
  background: white;
  max-width: 12.4rem;
  width: 100%;
  height: 1.7rem;
  margin-top: 1rem;
}
.search input[type=search] {
  border-radius: 25%;
  outline: none;
  border: none;
  width: 100%;
  margin: 0 0.7rem;
  -webkit-appearance: none;
  background: transparent;
}
.search input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  transform: translateX(0.3rem);
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0.7;
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.7rem;
}
.search-icon i {
  pointer-events: none;
  transition: opacity 0.4s ease;
  opacity: 0.6;
}
@media screen and (max-width: 1100px) {
  .search {
    right: 3rem;
    top: 1.9rem;
  }
}
@media screen and (max-width: 720px) {
  .search {
    right: 0;
    top: 3.9rem;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
}

.search-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 22rem;
  min-height: 100%;
  border-radius: 5px;
  right: 0;
  top: 3.5rem;
  position: absolute;
  background-color: white;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}
.search-list__wrapper {
  margin-right: 0.2rem;
  max-height: 20rem;
  overflow: auto;
}
.search-list__item {
  padding: 0.6rem 1rem 0.6rem 2rem;
  display: flex;
  max-width: 21rem;
  word-break: break-all;
  font-size: 0.9375rem;
  opacity: 0.6;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.search-list__item::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 3px;
  height: 0;
  margin: auto 0;
  background: linear-gradient(to bottom, #194329 20%, #bc2424);
  opacity: 0.6;
  left: 1rem;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.search-list__item:not(:last-child):after {
  pointer-events: none;
  position: absolute;
  display: flex;
  content: "";
  width: 86%;
  height: 1px;
  background: #4d4d4d;
  opacity: 0.2;
  bottom: 0;
  left: 1.2rem;
}
.search-list__item:hover {
  opacity: 1;
}
.search-list__item:hover:before {
  height: 60%;
}
.search-list__item:focus-visible {
  outline-offset: 0;
  outline: 2px dashed #2c84af;
}
.search-list__error {
  display: flex;
  height: 100%;
  letter-spacing: 0.1rem;
  justify-content: center;
  color: darkred;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 1100px) {
  .search-list {
    right: 3rem;
    top: 5.9rem;
  }
}
@media screen and (max-width: 720px) {
  .search-list {
    right: 0;
    top: 7.2rem;
    width: 100%;
  }
  .search-list__item {
    max-width: 100%;
  }
}

.hamburger {
  display: none;
  padding: 15px 15px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  transform: scale(0.7) translateX(1.5rem) translateY(0.5rem);
}
@media screen and (max-width: 1100px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.carousel {
  width: 79%;
  height: 36.2rem;
}
.carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 1201px) {
  .carousel {
    width: 100%;
  }
}

.flickity-page-dots {
  width: 100%;
  transform: translateY(-3rem);
}

.flickity-page-dots .dot {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 1;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  transform: Scale(1.2);
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.pagination {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "arial";
  font-size: 0.875rem;
  color: #737373;
}
.pagination__current {
  pointer-events: none;
  margin-right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  padding: 0.4rem 0.6rem;
}
.pagination__box {
  margin-right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.4rem;
}
.pagination__box-number {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.6rem;
  margin-right: 0.3rem;
}
.pagination__box-number:hover {
  color: white;
  background: #4d4d4d;
}
.pagination__box-number:focus-visible {
  z-index: 2;
  outline: 2px dashed #737373;
  outline-offset: 2px;
}
@media screen and (max-width: 450px) {
  .pagination {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .pagination__box {
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.4rem 0.2rem 0;
  }
}

.active {
  background: #4d4d4d;
  color: white;
}

.modal {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.modal__container {
  background: #ababab;
  width: 40%;
  height: 60%;
  padding: 0.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal__wrapper {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  word-break: break-all;
}
.modal__wrapper > h1 {
  margin-top: 1rem;
}
.modal__wrapper > h2 {
  text-align: center;
  margin: 0 2rem;
  color: #571e1e;
}
.modal__wrapper > img {
  margin: 1rem 0;
  width: 20rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__wrapper > p {
  margin: 0 2rem;
  margin-top: 1.4rem;
}
.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  font-size: 1.875rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modal__close i {
  pointer-events: none;
}
.modal__close:hover {
  opacity: 1;
}
@media screen and (max-width: 1050px) {
  .modal__container {
    width: 60%;
  }
  .modal__wrapper {
    padding: 1rem;
  }
  .modal__wrapper > h2 {
    margin: 0;
  }
  .modal__wrapper > p {
    margin: 0;
  }
}
@media screen and (max-width: 750px) {
  .modal__container {
    width: 90%;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For Mouse user*/
a:focus {
  outline: 0;
}

/* For keyboard user*/
*:focus-visible,
a:focus-visible {
  outline: 2px dashed white;
  outline-offset: 5px;
  transition: all 0.3s ease;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

/* Remove anchor decoration*/
a {
  text-decoration: none;
}

/* Accessibility +  */
.sr-only {
  position: absolute !important;
  margin: -1px 0 0 -1px !important;
  padding: 0 !important;
  display: block !important;
  width: 1px !important;
  height: 1px !important;
  font-size: 1px !important;
  line-height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  outline: 0 !important;
}

/* Reset button */
button {
  all: unset;
  /* for IE */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove input autofill color settings*/
/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: white;
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Garamond";
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5625rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.1875rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

span {
  font-size: 0.75rem;
}

.header {
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 110px;
  height: 100%;
  background: linear-gradient(to right, #111213 50%, #28292a);
}
.header__wrapper {
  margin: 0 1rem;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__logo {
  max-width: 100%;
}
.header__logo img {
  width: 100%;
}
@media screen and (max-width: 720px) {
  .header {
    max-height: 128px;
    height: 100%;
  }
  .header__wrapper {
    align-items: flex-start;
  }
  .header__logo {
    padding-top: 1rem;
  }
}

.header-nav {
  display: flex;
}
.header-nav__menu {
  display: flex;
  height: 100%;
  margin-top: 2rem;
  align-items: center;
  font-size: 1rem;
  color: white;
}
.header-nav__link {
  color: white;
  text-transform: uppercase;
  margin-left: 1.4rem;
  position: relative;
}
.header-nav__link a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: white;
  transition: all 0.3s ease;
}
.header-nav__link a:hover:after {
  width: 100%;
}
.header-nav__link a:focus-visible:after {
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .header-nav__menu {
    display: none;
  }
}

.header-mobile-nav {
  z-index: 9;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 110px;
  background: rgba(116, 116, 116, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: white;
  transform: translateY(-100%);
  transition: all 0.3s ease;
}
.header-mobile-nav__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}
.header-mobile-nav__link {
  display: flex;
  padding: 1.5rem 0;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .header-mobile-nav {
    top: 128px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
}

.hero-info {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
.hero-info__title {
  margin: 1rem;
  flex: 0 1 42rem;
  opacity: 0.6;
  color: white;
}
.hero-info__links {
  margin: 1rem;
  padding: 0 2rem;
  flex: 0 1 22rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-info__circle, .footer-contact__circle {
  width: 3rem;
  height: 3rem;
  background: #4d4d4d;
  color: white;
  opacity: 0.6;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  transition: all 0.3s ease;
}
.hero-info__circle i, .footer-contact__circle i {
  pointer-events: none;
}
.hero-info__circle:hover, .footer-contact__circle:hover {
  opacity: 1;
}
@media screen and (max-width: 1100px) {
  .hero-info {
    justify-content: center;
  }
  .hero-info__title {
    text-align: center;
  }
  .hero-info__circle, .footer-contact__circle {
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.0625rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}
.content__wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  height: 100%;
}
.content-info__wrapper {
  padding: 2.5rem 2rem;
  position: relative;
  background: linear-gradient(to bottom, #f2f2f2 60%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  justify-content: center;
  max-width: 18rem;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.content-info__wrapper h2 {
  margin-bottom: 1.5rem;
}
.content-info__wrapper a {
  color: #2c84af;
  position: relative;
}
.content-info__wrapper a::after {
  z-index: 999;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  display: flex;
  width: 0;
  height: 1px;
  background: #2c84af;
  transition: all 0.3s ease;
}
.content-info__wrapper a:hover:after {
  width: 100%;
}
.content-info__wrapper a:focus-visible {
  outline: 2px dashed #2c84af;
  outline-offset: 2px;
}
.content-info__shop, .content-info__event, .content-info__scoreboard {
  margin-bottom: 2rem;
}
@media screen and (max-width: 1140px) {
  .content-info__wrapper {
    margin: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.articles {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  width: 100%;
  height: 100%;
  padding: 2.5rem 2rem 2.5rem 0;
}
.articles__wrapper {
  min-height: 43rem;
  height: 100%;
}
.articles__item {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.articles__item::after {
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 14%, rgba(0, 0, 0, 0.5) 86%, rgba(0, 0, 0, 0) 100%);
}
.articles__img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 10rem;
  width: 100%;
  min-width: 10rem;
  max-height: 10rem;
  margin-right: 3rem;
  padding: 0.4rem;
  background: #f2f2f2;
}
.articles__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.articles__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  word-break: break-all;
}
.articles__texts > h2 {
  text-transform: capitalize;
}
.articles__texts > span {
  color: #5263c7;
  min-height: 2.1rem;
}
.articles__texts > p > span {
  font-size: 1rem;
}
.articles__texts-dots {
  display: inline;
}
.articles__texts-more {
  display: none;
}
.articles__btn {
  border-radius: 2px;
  margin-top: 1rem;
  text-align: center;
  padding: 0.2rem 3rem;
  max-width: 5rem;
  background: linear-gradient(to top, #4783a1, #6eb3d6);
  font-family: "arial";
  font-size: 0.75rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0 black;
  letter-spacing: 0.075rem;
  color: white;
}
.articles__btn:hover {
  background: linear-gradient(to top, #386a83, #6eb3d6);
}
.articles__btn:active {
  transform: translateY(2px);
}
.articles__btn:focus-visible {
  outline: 2px dashed #737373;
}
@media screen and (max-width: 740px) {
  .articles {
    padding: 2rem 0;
  }
  .articles__item {
    display: flex;
    flex-wrap: wrap;
  }
  .articles__img {
    min-width: 100%;
  }
  .articles__texts {
    min-height: 10rem;
  }
  .articles__texts h2 {
    margin-top: 1rem;
  }
  .articles__texts span {
    font-size: 0.75rem;
  }
  .articles__texts p {
    margin-top: 0.5rem;
    line-height: 1.125rem;
  }
}
@media screen and (max-width: 400px) {
  .articles__wrapper {
    min-height: 0;
    height: 100%;
  }
}

.sponsors {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 3rem;
  overflow: hidden;
}
.sponsors__wrapper {
  max-width: 1200px;
  width: 100%;
}
.sponsors__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: auto;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.sponsors__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: #f2f2f2;
  box-shadow: 0 2px 5px rgba(128, 128, 128, 0.3);
}
.sponsors__logo img {
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  background: #1a1a1a;
  padding: 2rem 0;
}
.footer__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  color: #737373;
}
.footer__wrapper h3 {
  color: white;
  margin-bottom: 1rem;
}
.footer-about {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
}
.footer-about span {
  font-size: 1.125rem;
}
.footer-stream {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  width: 100%;
}
.footer-stream__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: 3;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  row-gap: 0.3rem;
}
.footer-stream__grid img {
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer-stream__grid img:hover {
  z-index: 99;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}
.footer-contact {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  width: 100%;
}
.footer-contact p {
  line-height: 1.6rem;
}
.footer-contact span {
  line-height: 0;
  font-size: 1.125rem;
  color: white;
  opacity: 0.6;
  margin: 0.5rem 0 1.2rem;
}
.footer-contact__links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contact__circle {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.125rem;
}
@media screen and (max-width: 600px) {
  .footer__wrapper {
    justify-content: center;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */