@use '../1-utilities/' as *;
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For Mouse user*/
a:focus{
  outline:0;
}
/* For keyboard user*/
*:focus-visible,
a:focus-visible{
  outline: 2px dashed $white;
  outline-offset: 5px;
  transition:all .3s ease;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul{
  margin:0;
  padding:0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* Remove anchor decoration*/
a{
  text-decoration:none;
}

/* Accessibility +  */
.sr-only{
  position: absolute !important; 
  margin: -1px 0 0 -1px !important;
  padding: 0 !important;
  display: block !important;
  width: 1px !important;
  height: 1px !important;
  font-size: 1px !important;
  line-height: 1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  border: 0 !important;
  outline: 0 !important;
}

/* Reset button */
button{
  all:unset;
  /* for IE */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Remove input autofill color settings*/
// input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus, 
// input:-webkit-autofill:active{
//     box-shadow: 0 0 0 30px color(input) inset !important;
//     -webkit-text-fill-color: color(font) !important;
// }

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: hsl(0, 0%, 100%);
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
a {
  font: inherit;
  color:inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}