@use '../1-utilities/' as *;
@use '../2-components/' as *;

.header{
    z-index:999;
    position:fixed;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    max-height:110px;
    height:100%;
    background:$blackDarkToLight;
    &__wrapper{
        margin:0 1rem;
        max-width:1200px;
        width:100%;
        height:100%;
        display:flex;
        justify-content: space-between;
        align-items:center;
        position:relative;
    }
    &__logo{
        max-width:100%;
        img{
            width:100%;
        }
    }
    @media screen and (max-width:720px){
        max-height:128px;
        height:100%;
        &__wrapper{
            align-items:flex-start;
        }
        &__logo{
            padding-top:1rem;
        }
    }
}
.header-nav{
    display:flex;
    &__menu{
        display:flex;
        height:100%;
        margin-top:2rem;
        align-items:center;
        font-size:rem(1.6);
        color:$white;
    }
    &__link{
        color:$white;
        text-transform:uppercase;
        margin-left:1.4rem;
        @extend %b-500;
        position:relative;
        a:after{ 
            content:'';
            position:absolute;
            bottom:0;left:0;
            width:0;
            height:1px;
            background:$white;
            transition:all .3s ease;
        }
        a:hover:after{
            width:100%;
        }
        a:focus-visible:after{
            width:100%;
        }
    }
    @media screen and (max-width:1100px){
        &__menu{
            display:none;
        }
    }

}
.header-mobile-nav{
    z-index:9;
    display:flex;
    justify-content:center;
    position:fixed;
    width:100%;
    top:110px;
    background:rgba($color: #747474, $alpha: 0.9);
    backdrop-filter: blur(5px);
    color:$white;
    transform:translateY(-100%);
    transition: all .3s ease;
    &__menu{
        display:flex;
        align-items:center;
        flex-direction:column;
        margin:2rem 0;
    }
    &__link{
        display:flex;
        padding:1.5rem 0;
        text-transform:uppercase;
    }
    @media screen and (max-width:720px){
        top:128px;
    }
}